/* -------------- GENERAL STYLES ------------ */
@import './normalize.css';

html {
  font-size: 62.5%; /*equal to 10px*/
}

body {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  background: rgb(233, 233, 233);
}

h1,
h2 {
  line-height: 1.1;
}
/* -------------- GENERAL STYLES ------------ */

/* -------------- HEADER STYLE ------------ */
.block {
  padding: 6rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  font-size: 4.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0;
  letter-spacing: 1.5px;
}

.block__body {
  font-size: 2.1rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0;
  opacity: 0.5;
  line-height: 1.5;
}

.container {
  max-width: 570px;
  margin: 0 auto;
}
/* -------------- HEADER STYLE ------------ */

/* -------------- BANNER (HERO) STYLE ------------ */
.card {
  border-radius: 5px;
  box-shadow: 0 0 30px 10px #f3f3f3;
  overflow: hidden;
  margin: 1.5rem;
  background: #fff;
}

.banner {
  padding: 3rem;
}

#image {
  max-width: 500px;
  display: block;
  height: auto;
  position: relative;
  width: 100%; /*Makes the image responsive*/
  margin: 0 auto;
}

#img-caption {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
  opacity: 0.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #image {
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 500px;
  }
}
/* -------------- BANNER (HERO) STYLE ------------ */

/* -------------- PAGE INFO STYLE ------------ */
.tribute__header {
  font-size: 2.2rem;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: 1.05px;
  margin-top: 3rem;
}

.tribute__list {
  max-width: 570px;
  margin: 0 auto;
  width: 50%;
}

.list {
  margin-left: 0;
  line-height: 40px;
  font-size: 1.9rem;
}

.list__item {
  white-space: nowrap;
  text-align: left;
}

.list__item > p {
  font-size: 1.4rem;
  white-space: nowrap;
}
/* Quotes */
.icon {
  width: 40px;
  height: 40px;
}

.quote {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  line-height: 40px;
  font-style: italic;
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .quote {
    font-size: 1.4rem;
    text-align: center;
  }

  .quote__author {
    font-size: 1.1rem;
  }
  .quote__company {
    font-size: 1rem;
    opacity: 0.8;
  }
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

.quote__company {
  opacity: 0.4;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}
/* Quotes */
/* -------------- PAGE INFO STYLE ------------ */

/* -------------- EXTERNAL LINK STYLE ------------ */
.tribute-link {
  font-size: 1.7rem;
  margin: 0.5rem;
  text-align: center;
  white-space: nowrap;
}
#tribute-link {
  font-size: 1.9rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

#tribute-link:hover {
  cursor: pointer;
  color: #706e6e;
}
/* -------------- EXTERNAL LINK STYLE ------------ */
