/* -------------- GENERAL STYLES ------------ */
@import './normalize.css';
html {
  font-size: 62.5%; /*equal to 10px*/
}

body {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  background: rgb(233, 233, 233);
}

h1,
h2 {
  line-height: 1.1;
}
/* -------------- GENERAL STYLES ------------ */

/* -------------- @MEDIA ------------ */
@media screen and (min-width: 768px) {
  /* START - HEADER */

  /* END - HEADER */
}
/* -------------- @MEDIA ------------ */

/* -------------- HEADER STYLE ------------ */
.block {
  padding: 6rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0;
  letter-spacing: 1.1px;
}

.block__body {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0;
  opacity: 0.5;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* -------------- HEADER STYLE ------------ */

/* -------------- BANNER (HERO) STYLE ------------ */
.card {
  border-radius: 9px;
  box-shadow: 0 0 30px 10px #f3f3f3;
  overflow: hidden;
  padding: 2rem;
  background: #fff;
}

.banner {
  padding: 3rem;
}

#image {
  position: relative;
  width: 100%; /*Makes the image responsive*/
  margin: 0;
}

#img-caption {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
  opacity: 0.5;
  text-align: center;
}
/* -------------- BANNER (HERO) STYLE ------------ */

/* -------------- PAGE INFO STYLE ------------ */
.tribute__header {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: 1.05px;
  margin-top: 3rem;
}

.tribute__list {
  max-width: 570px;
  width: 70%;
  margin: auto;
}

.list {
  margin-left: 0;
  line-height: 30px;
}

.list__item {
  white-space: nowrap;
}
/* -------------- PAGE INFO STYLE ------------ */

/* -------------- EXTERNAL LINK STYLE ------------ */
.tribute-link {
  text-align: center;
}
#tribute-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

#tribute-link:hover {
  cursor: pointer;
  color: rgb(129, 125, 125);
}
/* -------------- EXTERNAL LINK STYLE ------------ */
